[vuln] {% for team in teams %}
{{ team.id }} ansible_host={{ team.id }}.devops.com root_password={{ team.root_password }} {% endfor %}

[jury]
{{ jury.name }} ansible_host={{ jury.name }}.devops.com

[vpn_server]
{{ vpn.name }} ansible_host={{ vpn.name }}.devops.com

[all:vars]
ansible_user=ubuntu